wcwidth
prompt-toolkit
pygments
ipython-genutils
decorator
traitlets
parso
jedi
setuptools
pickleshare
appnope
backcall
ptyprocess
pexpect
ipython
tornado
python-dateutil
jupyter-core
pyzmq
jupyter-client
ipykernel
Send2Trash
terminado
pyrsistent
attrs
more-itertools
zipp
importlib-metadata
jsonschema
nbformat
MarkupSafe
jinja2
prometheus-client
mistune
testpath
defusedxml
pandocfilters
entrypoints
webencodings
bleach
nbconvert
notebook
widgetsnbextension
ipywidgets
backports.functools-lru-cache
Click
pip
wheel
pypandoc
future
pytz
ruamel.yaml.clib
ruamel.yaml
tzlocal
termcolor
idna
chardet
certifi
urllib3
requests
marshmallow>=2.0,<3.0
toolz
altair
